# Environment secrets
.env

# Agent specific files
.geminiignore
.gemini/

# Byte-compiled
__pycache__/

# Chainlit
.chainlit/translations/

# VS Code
.vscode/*

# Personal project notes
notes/*
*.png
*.mmd
.cli_history
